.details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  border-radius: 2%;
  color: #faf5f5;
  margin: 2rem;
  padding: 0;
}

.details-image {
  width: 25rem;
  height: fit-content;
  margin-bottom: 2%;
  border-radius: 2%
}

.home-button {
  border-radius: 6px;
  background-color: #8a8383;
  color: #faf5f5;
  width: 25rem;
}

.home-button:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  animation:slidebg 3s linear infinite;
}

.movie-release {
  font-size: small;
}

.overview {
  margin-top: 1%;
}

.genre,
.budget,
.revenue,
.runtime {
  font-size: medium;
  margin-top: 1%;
}

.genre {
  margin-top: 3%;
}



@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

@media screen and (max-width: 320px) {
  .details-card {
    width: 15rem;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    -webkit-box-shadow: 8px 11px 20px 5px #890A1A;
    box-shadow: 8px 11px 20px 5px #890A1A;
  }
  .home-button,
  .details-image {
    width: 15rem;
}

}
