.details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  border-radius: 2%;
  border-color: black;
  color: #faf5f5;
  margin: 2rem;
}

.details-image {
  width: 25rem;
  height: fit-content;
  margin-bottom: 2%;
  border-radius: 2%
}

.home-button {
  border-radius: 6px;
  background-color: #8a8383;
  color: #faf5f5;
  width: 25rem;
}

.home-button:hover {
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  animation:slidebg 3s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}




@media screen and (max-width: 320px) {
  .details-card {
    width: 15rem;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
  }
  .home-button,
  .details-image {
    width: 15rem;
  }

   {
    background-color: #8a8383;
    color: #faf5f5;
    width: 15rem;
  }
}
