.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12rem;
  -webkit-box-shadow: 8px 11px 20px 5px #890A1A;
  box-shadow: 8px 11px 20px 5px #890A1A;
  /* box-shadow: 10px 5px 5px rgb(237, 5, 39); */
  border-radius: 2%;
  border-color: black;
  color: #faf5f5;
  margin: 2rem;
  transition: all .2s ease-in-out;
}

.card:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.movie-image {
  width: 12rem;
  height: fit-content;
  margin-bottom:2%;
  border-radius: 2%
}

@media screen and (max-width: 375px) {
  .card {
    box-shadow: none;
  }
}

@media screen and (max-width: 321px) {
  .card {
    box-shadow: 10px 5px 5px red;
  }
}
