.search-styles {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.search-button,
.search-input {
  color: #faf5f5;
}

.search-button {
  font-size: 1.3rem;
  width: 8rem;

}
