.movie-container {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

.title {
  font-weight: bold;
  opacity: .9;
}

.movie-rating {
  opacity: .7;
}


@media screen and (max-width: 1250px) {
  .movie-container {
    grid-template-columns: repeat(4, 1fr);
  }

}


@media screen and (max-width: 1028px) {
  .movie-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;
    grid-gap: 15px;
  }

}


@media screen and (max-width: 763px) {
  .movie-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 320px) {
  .movie-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
  }
}
